{% extends 'base.html.twig' %}

{% block body %}
    <h1>Factorial Central</h1>
    <p>Please provide the <i>n</i> argument for the factorial in the form of this example: <a href="http://originalcottagetest.com/index.php/6">http://originalcottagetest.com/index.php/6</a></p>
    Factorial of <b>{{ n }}</b>: <u>{{ factorial }}</u>
{% endblock %}